In [12]:
#1.Hiển thị toàn bộ dữ liệu
import pandas as pd

In [13]:
df=pd.read_csv('TH2to2.csv')

In [14]:
df

     sepal_length  sepal_width  petal_length  petal_width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           NaN          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          NaN     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          NaN           5.0          1.9  Virginica
147           NaN          NaN           5.2          2.0  Virginica
148           NaN          3.4           NaN          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

In [15]:
#2.Điền các giá trị còn thiếu với trung bình với kiểu dữ liệu numberic và giá trị xuất hiện nhiều nhất với cột dữ liệu rời rạc
df.dtypes

sepal_length    float64
sepal_width     float64
petal_length    float64
petal_width     float64
variety          object
dtype: object

In [16]:
col_numberic=['sepal_length','sepal_width','petal_length','petal_width']

In [17]:
df.fillna(df[col_numberic].mean(),inplace=True)
df.fillna(df.variety.mode()[0],inplace=True)

In [18]:
df.isnull().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
variety         0
dtype: int64

In [19]:
df

     sepal_length  sepal_width  petal_length  petal_width    variety
0        5.100000     3.500000      1.400000      0.20000     Setosa
1        4.900000     3.000000      3.719259      0.20000     Setosa
2        4.700000     3.200000      1.300000      0.20000     Setosa
3        4.600000     3.100000      1.500000      1.18963     Setosa
4        5.000000     3.600000      1.400000      0.20000     Setosa
..            ...          ...           ...          ...        ...
145      6.700000     3.000000      5.200000      2.30000  Virginica
146      6.300000     3.054815      5.000000      1.90000  Virginica
147      5.852593     3.054815      5.200000      2.00000  Virginica
148      5.852593     3.400000      3.719259      2.30000  Virginica
149      5.900000     3.000000      5.100000      1.80000  Virginica

[150 rows x 5 columns]

In [35]:
#3.Hiển thị df có sepal_length>5 và sepal_width>3
df_new=df[((df.sepal_length>5) & (df.sepal_width>3))]
df_new

     sepal_length  sepal_width  petal_length  petal_width     variety
0        5.100000     3.500000      1.400000      0.20000      Setosa
5        5.400000     3.900000      1.700000      0.40000      Setosa
6        5.852593     3.400000      1.400000      0.30000      Setosa
7        5.852593     3.400000      1.500000      0.20000      Setosa
10       5.400000     3.700000      1.500000      0.20000      Setosa
14       5.800000     3.054815      1.200000      0.20000      Setosa
15       5.700000     4.400000      1.500000      1.18963      Setosa
16       5.400000     3.900000      1.300000      0.40000      Setosa
17       5.100000     3.500000      1.400000      0.30000   Virginica
18       5.700000     3.800000      1.700000      1.18963      Setosa
19       5.100000     3.800000      1.500000      0.30000      Setosa
20       5.400000     3.400000      3.719259      0.20000      Setosa
21       5.100000     3.700000      3.719259      0.40000      Setosa
23       5.100000     3.300000      1.700000      0.50000      Setosa
27       5.200000     3.500000      1.500000      0.20000   Virginica
28       5.200000     3.400000      1.400000      0.20000      Setosa
31       5.400000     3.400000      1.500000      0.40000      Setosa
32       5.200000     4.100000      1.500000      0.10000      Setosa
33       5.500000     4.200000      1.400000      0.20000   Virginica
36       5.500000     3.500000      1.300000      0.20000      Setosa
39       5.100000     3.400000      1.500000      0.20000      Setosa
43       5.852593     3.500000      1.600000      0.60000      Setosa
44       5.100000     3.800000      1.900000      1.18963      Setosa
46       5.100000     3.800000      1.600000      0.20000      Setosa
47       5.852593     3.200000      1.400000      0.20000      Setosa
48       5.300000     3.700000      1.500000      0.20000      Setosa
50       7.000000     3.200000      4.700000      1.40000   Virginica
51       6.400000     3.200000      4.500000      1.18963  Versicolor
52       5.852593     3.100000      4.900000      1.50000  Versicolor
56       6.300000     3.300000      4.700000      1.60000  Versicolor
65       6.700000     3.100000      4.400000      1.40000  Versicolor
70       5.900000     3.200000      4.800000      1.80000   Virginica
84       5.400000     3.054815      3.719259      1.50000  Versicolor
85       5.852593     3.400000      4.500000      1.60000  Versicolor
86       6.700000     3.100000      4.700000      1.50000  Versicolor
95       5.700000     3.054815      4.200000      1.20000  Versicolor
100      6.300000     3.300000      6.000000      1.18963   Virginica
103      6.300000     3.054815      5.600000      1.80000   Virginica
108      5.852593     3.054815      5.800000      1.80000   Virginica
109      7.200000     3.054815      6.100000      2.50000   Virginica
110      6.500000     3.200000      5.100000      2.00000   Virginica
111      6.400000     3.054815      3.719259      1.90000   Virginica
115      6.400000     3.200000      5.300000      2.30000   Virginica
117      7.700000     3.800000      6.700000      2.20000   Virginica
120      6.900000     3.200000      5.700000      2.30000   Virginica
124      6.700000     3.300000      5.700000      2.10000   Virginica
125      7.200000     3.200000      6.000000      1.80000   Virginica
131      7.900000     3.800000      6.400000      2.00000   Virginica
136      6.300000     3.400000      5.600000      2.40000   Virginica
137      6.400000     3.100000      5.500000      1.80000   Virginica
138      6.000000     3.054815      4.800000      1.18963   Virginica
139      6.900000     3.100000      5.400000      1.18963   Virginica
140      6.700000     3.054815      3.719259      2.40000   Virginica
141      6.900000     3.100000      5.100000      2.30000   Virginica
143      6.800000     3.200000      5.900000      2.30000   Virginica
144      6.700000     3.054815      5.700000      2.50000   Virginica
146      6.300000     3.054815      5.000000      1.90000   Virginica
147      5.852593     3.054815      5.200000      2.00000   Virginica
148      5.852593     3.400000      3.719259      2.30000   Virginica

In [36]:
#4. Chuẩn hoá dữ liệu theo MinMax
from sklearn.preprocessing import MinMaxScaler
mms=MinMaxScaler()
df[col_numberic]=mms.fit_transform(df[col_numberic])
df

     sepal_length  sepal_width  petal_length  petal_width    variety
0        0.222222     0.625000      0.067797     0.041667     Setosa
1        0.166667     0.416667      0.460891     0.041667     Setosa
2        0.111111     0.500000      0.050847     0.041667     Setosa
3        0.083333     0.458333      0.084746     0.454012     Setosa
4        0.194444     0.666667      0.067797     0.041667     Setosa
..            ...          ...           ...          ...        ...
145      0.666667     0.416667      0.711864     0.916667  Virginica
146      0.555556     0.439506      0.677966     0.750000  Virginica
147      0.431276     0.439506      0.711864     0.791667  Virginica
148      0.431276     0.583333      0.460891     0.916667  Virginica
149      0.444444     0.416667      0.694915     0.708333  Virginica

[150 rows x 5 columns]

In [38]:
#5.Liên tục hoá trường variety
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
df.variety=le.fit_transform(df.variety)
df

     sepal_length  sepal_width  petal_length  petal_width  variety
0        0.222222     0.625000      0.067797     0.041667        0
1        0.166667     0.416667      0.460891     0.041667        0
2        0.111111     0.500000      0.050847     0.041667        0
3        0.083333     0.458333      0.084746     0.454012        0
4        0.194444     0.666667      0.067797     0.041667        0
..            ...          ...           ...          ...      ...
145      0.666667     0.416667      0.711864     0.916667        2
146      0.555556     0.439506      0.677966     0.750000        2
147      0.431276     0.439506      0.711864     0.791667        2
148      0.431276     0.583333      0.460891     0.916667        2
149      0.444444     0.416667      0.694915     0.708333        2

[150 rows x 5 columns]

In [48]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
model=LinearRegression()
X=df[col_numberic]
y=df.variety
X_train,y_train,X_test,y_test=train_test_split(X,y,test_size=0.1,random_state=0)
#model.fit(X_train,y_train)

In [53]:
model.fit(X,y)

LinearRegression()

In [54]:
model.intercept_,model.coef_

(0.11040640218256104,
 array([ 0.16914673, -0.26723763,  1.21005519,  1.06397976]))

In [55]:
#7.Lấy mẫu ngẫu nhiên có lặp lại 50% dữ liệu
df_7=df.sample(frac=0.5)
df_7

     sepal_length  sepal_width  petal_length  petal_width  variety
149      0.444444     0.416667      0.694915     0.708333        2
112      0.694444     0.416667      0.762712     0.833333        2
103      0.555556     0.439506      0.779661     0.708333        2
13       0.000000     0.416667      0.016949     0.000000        0
80       0.333333     0.166667      0.474576     0.416667        1
..            ...          ...           ...          ...      ...
65       0.666667     0.458333      0.576271     0.541667        1
6        0.431276     0.583333      0.067797     0.083333        0
39       0.222222     0.583333      0.084746     0.041667        0
35       0.194444     0.500000      0.033898     0.041667        0
47       0.431276     0.500000      0.067797     0.041667        0

[75 rows x 5 columns]

In [57]:
#8.rời rạc hoá trường sepal_leangth
df['sepal_length']=pd.cut(df.sepal_length,bins=[0.0,0.33,0.67,1.0],labels=['<33%','<67%','>67%'])

In [58]:
df

    sepal_length  sepal_width  petal_length  petal_width  variety
0           <33%     0.625000      0.067797     0.041667        0
1           <33%     0.416667      0.460891     0.041667        0
2           <33%     0.500000      0.050847     0.041667        0
3           <33%     0.458333      0.084746     0.454012        0
4           <33%     0.666667      0.067797     0.041667        0
..           ...          ...           ...          ...      ...
145         <67%     0.416667      0.711864     0.916667        2
146         <67%     0.439506      0.677966     0.750000        2
147         <67%     0.439506      0.711864     0.791667        2
148         <67%     0.583333      0.460891     0.916667        2
149         <67%     0.416667      0.694915     0.708333        2

[150 rows x 5 columns]